* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Common CSS for all devices */
body {
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.bannerContainer > img {
  width: 100%;
}
.blueBg {
  background-color: rgb(3, 3, 123);
  color: white;
}
.headertext {
  padding: 28px 0 22px;
  font-weight: bold;
  font-size: 1.1rem;
}

/* This is for mobile device only */
.missingPuppy {
  padding: 45px;
  height: 278px;
  background-color: rgb(241, 14, 14);
  padding: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  
}

.puppy-1, .missingPuppy,.puppy-2{
  width: 33%;
 
}
.threePuppiesWrapper,
.twoPuppiesContainer {
  width: 80%;
  margin: 45px auto 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.threePuppiesWrapper {
  gap: 72px;
}
.twoPuppiesContainer {
  gap: 64px;
}
.footerText {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 64px 0 68px;
}
@media (min-width: 768px) {
  .missingPuppy {
    display: block;
  }
  .threePuppiesWrapper,
  .twoPuppiesContainer {
    width: 980px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
  }
  .twoPuppiesContainer {
     
  
    align-items: center;
  
    margin: 45px auto  64px ;
  }
  .threePuppiesWrapper{
    margin-top: 30px;
    margin-bottom: 45px;
  }
  .missingPuppy {
  .missingPuppy{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
}
