* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
header {
  width: 100%;
  background-color: black;
  height: 50px;
}
nav {
  width: 980px;
  height: 100%;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
  font-size: 15px;
}
nav a:hover {
  opacity: 1;
}
nav img {
  width: 18px;
}
.icons {
  opacity: 0.8;
}

/* herosection style*/
.herosection {
  background-color: #fafafa;
}
.heroText {
  margin: 0 auto;
  padding-top: 20px;
  height: 105vh;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  text-align: center;
}
.heroText p {
  font-size: 17px;
}
.heroText h1 {
  font-size: 55px;
}
.heroText h2 {
  font-size: 40px;
  font-weight: 400;
}
.heroLinks {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px 0 25px;
}
.heroLinks a {
  text-decoration: none;
  color: #0066ca;
  font-size: 20px;
}
.heroLinks a i {
  font-size: 15px;
}

.heroLinks a:hover {
  color: black;
}
.firstHeroText {
  background-image: url(../images/home/mac-laptop.jpg);
  background-size:auto;
  width: 600px;
  height: 110vh;
}
.secondHeroText{
    background-image: url(../images/home/iphone11-pro-bg.jpg);
    color: white;
}
.ThirdHeroText{
    background-image: url(../images/home/iphone11-bg.jpg);
}

.watchCardsection{
    display: flex;
    gap: 20px;
    margin: 20px 20px 0 20px;
    height: 100vh;
}

.watchCardsection h2{
    font-size: 20px;
}
.applewatch{
    background-image: url(../images/home/watch-series-5.jpg);
}
.applecard{
    background-image: url(../images/home/apple-card.jpg);
}
.applecard, .applewatch{
    width: 100%;
}
.applecard img, .applewatch img{
    margin: 30px 0 20px;
}

