* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  background-color: rgb(190, 174, 174);
  width: 400px;
  height: 255px;
  justify-content: space-evenly;
  align-items: center;
}

section > div {
  display: flex;
  width: 106px;
  height: 90px;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
}

.box1 {
  background-color: rgb(0, 255, 4);
 
}


.yellowBox {
  background-color: yellow;
  width: 80%;
  height: 90%;
  border: 2px solid #ecbdc7;
}
.box2 {
  display: flex;
  background-color: #e2af18;
  align-items: center;
}
.box3 {
  display: flex;
  background-color: red;
  align-items: center;
}

p {
  font-size: 10px;
}
