* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
  font-size: 10px;
}
/* this is the main body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  
}
/* this is the container with three boxes */
section {
  background-color: #d5d5d5;
  width: 400px;
  height: 255px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* this the common property of the three boxes */
section > div {
  width: 106px;
  height: 90px;
  border: 4px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* the is the green box */
.greenBox {
  background-color: #0d9516;
}
/* this is the yellow box inside the green box */
.yellow {
  background-color: #fefe06;
  width: 75%;
  height: 75%;
  border: 2px solid #ecbdc7;
}
/* this is the orange collor with yellow writing */
.yellowBox {
  background-color: #e2af18;
}
/* the is the dark red box */
.redBox {
  background-color: #ad0f1d;
}
