* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

body {
  font: 20px "Montserrat", sans-serif;
}

.header-wrapper {
  background-color: #ffffff;
  width: 100%;
  font: 200 0.75em "Montserrat", sans-serif;
}

.header-wrapper ul {
  color: black;
  display: flex;
  justify-content: space-between;
  width: 980px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-wrapper .header-links-wrapper ul li {
  display: inline-block;
  list-style: none;
  color: black;
  padding: 14px 0 8px;
  height: 25px;
  opacity: 0.8;
}

.header-wrapper .header-links-wrapper ul li:hover {
  opacity: 1;
}

.header-wrapper .header-links-wrapper ul li a {
  text-decoration: none;
}

.logo-link,
.search-link,
.cart-link {
  width: 18px;
  display: block;
}

.header-wrapper .header-links-wrapper ul li .logo-link {
  padding: 12px 0 10px;
  width: 30px;
}

.header-wrapper .header-links-wrapper ul li.search-link {
  padding: 14px 0 8px;
}

.header-wrapper .header-links-wrapper ul li.cart-link {
  padding: 12px 0 10px;
}
.heroSection {
  background-image: url(../images/Home/section\ one.PNG);
  background-color: black;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: white;
  background-position: bottom;
  margin-top: 10px;
}
.logoWrapper,
.descriptionWrapper {
  margin-top: 10px;
}
.logoWrapper {
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
  width: 100px;
}
button{
  border-style: none;
  width: 35px;
  background-color: dodgerblue;
  color: white;
  border-radius: 15px ;
}
.middleSection{
  margin-top: 10px;
  background-image: url(../images/Home/seciton\ two.png);
  height: 100vh;
  text-align: center;
  background-position: bottom;
}
.bottomSection{
  margin-top: 10px;
  display: flex;
  background-color: #F5F5F7;
}
.leftWrapper{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
