* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Tilt Neon", sans-serif;
}
.blueBg {
  background-color: #195774;
}
.header-text {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 28px 0;
}

img {
  width: 100%;
}
.three-images {
  display: flex;
  width: 960px;
  margin: 20px auto;
  justify-content: space-between;
}
.missing {
  width: 310px;
  background-color: rgb(217, 8, 8);
}
.missing-text {
  text-align: center;
  font-size: 50px;
  padding: 50px;
}
.more-text {
  text-align: center;
  margin: 20px auto;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}
.vertical-images {
  display: flex;
  width: 960px;
  margin: 20px auto;
  justify-content: space-between;
}

.footer-text {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 135px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
