*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

.blueBg{
  font-size: 25px;
  background-color: blue;
  color: white;
}
.missing{
 background-color: red; 
}
.missing p{
  font-size: 25px;
}
@media (min-width:92px){
  .missing{
    font-style: 45px;
  }
}